{% extends 'core/base.html'%}
{% load static %}
{% block titulo %}Videojuegos Retro{% endblock %}


{% block contenido %}
<section>
    <article class = "col-md-12 listado">
        <br>
        <h2 class = "text-center">Videojuegos de PC</h2>
        <br>
        <div class = "row lista-articulos">
            {% for juego in pcgames_list %}
            <div class = "objeto_lista text-center col-xl-2 col-lg-3 col-md-4 col-xs-6">
                <a href="{% url 'juego-pc' juego.pk %}"><img src = "{{juego.poster.url}}" class = "img-fluid list_covers">
                <p class = "juego_title">{{juego.title}}</p></a>
                <br>
            </div>
            {% endfor %}
        </div>
    </article>
</section>

{% endblock %}